*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #e0e0e0;
}

.nav {
  min-height: 64px;
  border-bottom: 1px solid #e0e0e0;
  background-color: #ffffff;
}

.logo {
  height: 28px;
  margin-top: 18px;
  margin-left: 20px;
}

@media screen and (min-width: 37.439em) {

  button {
    float: right;
    margin-top: 10px;
  }

  p {
    font-size: 14px;
    opacity: 0.7;
  }

  h1 {
    font-size: 27px;
  }

  h2 {
    font-size: 19px;
    margin-bottom: 0;
  }

  .hidden-text {
    visibility: visible;
  }

  .hidden-text p{
    font-size: 14px;
    opacity: 1;
  }

  .couch-dude {
    min-width: 100%;
    background-image: url("../img/couch-dude.jpg");
    background-size: cover;
    background-position: center;
    height: 25em;
  }
  .holiday-chunk {
    height: auto;
  }

  .textBox1 {
    color: white;
    margin: 0;
    max-width: 90%;
    margin-left: 4%;
    margin-top: 3%;
  }

  .phone-lady {
    max-width: 50vw;
    background-image: url("../img/phone-lady.jpg");
    background-size: cover;
    background-position: center;
    min-height: 6em;
    min-height: 10.699em;
    height: auto;
  }

  .mobile-chunk {
    height: 47%;
    min-height: 6em;
    background-color: #0D47A1;
    max-width: 50vw;
    float: left;
  }

  .textBox2 {
    color: white;
    margin: 0;
    max-width: 90%;
    margin-left: 4%;
    margin-top: 3%;
  }

  .tech-folks {
    max-width: 50vw;
    background-image: url("../img/tech-folks.jpg");
    background-size: cover;
    background-position: center;
    min-height: 10.699em;
    height: auto;
  }

  .advertising-chunk {
    height: 47%;
    min-height: 6em;
    background-color: #009688;
    max-width: 50vw;
    float: right;
  }

  .holidayBox {
    width: 300px;
    height: 300px;
    background-color: #263238;
    float: right;
    position: absolute;
    margin-top: -333px;
    margin-left: 33px;
    color: white;
    padding: 30px;
    padding-top: 30px;
  }

  .wrapper {
    height: 50vh;
    max-width: 1200px;
    margin:auto;
  }

}





  @media screen and (max-width: 37.438em) {

    button {
      float: right;
      margin-top: 10px;
    }

    p {
      font-size: 14px;
      opacity: 0.7;
    }

    h1 {
      font-size: 22px;
    }

    h2 {
      font-size: 18px;
      margin-bottom: 0;
    }

    .hidden-text p {
      visibility: hidden;
    }

    .couch-dude {
      min-width: 100%;
      background-image: url("../img/couch-dude.jpg");
      background-size: cover;
      background-position: center;
      height: 25em;
    }
    .holiday-chunk {
      height: auto;
    }

    .textBox1 {
      color: white;
      margin: 0;
      float: right;
      max-width: 70vw;
      margin-top: -5.5em;
      margin-right: 26px;
    }

    .phone-lady {
      max-width: 23vw;
      background-image: url("../img/phone-lady.jpg");
      background-size: cover;
      background-position: center;
      min-height: 6em;
      height: auto;
    }

    .mobile-chunk {
      height: auto;
      min-height: 6em;
      background-color: #0D47A1;
    }

    .textBox2 {
      color: white;
      margin: 0;
      float: right;
      max-width: 70vw;
      margin-top: -5.5em;
      margin-right: 26px;
    }

    .tech-folks {
      max-width: 23vw;
      background-image: url("../img/tech-folks.jpg");
      background-size: cover;
      background-position: center;
      min-height: 6em;
      height: auto;
    }

    .advertising-chunk {
      height: auto;
      min-height: 6em;
      background-color: #009688;
    }

    .holidayBox {
      width: 90vw;
      height: 120px;
      background-color: #263238;
      float: right;
      position: absolute;
      margin-top: -136px;
      margin-left: 5vw;
      color: white;
      padding: 18px;
      padding-top: 15px;
    }

}

@media screen and (max-width: 25.875em) {

  button {
    float: right;
    margin-top: 10px;
  }

  p {
    font-size: 14px;
    opacity: 0.7;
  }

  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 18px;
    margin-bottom: 0;
  }

  .hidden-text p {
    visibility: hidden;
  }

  .couch-dude {
    min-width: 100%;
    background-image: url("../img/couch-dude.jpg");
    background-size: cover;
    background-position: center;
    height: 25em;
  }

  .holiday-chunk {
    height: auto;
  }

  .textBox1 {
    color: white;
    margin: 0;
    float: right;
    max-width: 60vw;
    margin-top: -7.2em;
    margin-right: 26px;
  }

  .phone-lady {
    max-width: 30vw;
    background-image: url("../img/phone-lady.jpg");
    background-size: cover;
    background-position: center;
    min-height: 8em;
    height: auto;
  }

  .mobile-chunk {
    height: auto;
    min-height: 6em;
    background-color: #0D47A1;
  }

  .textBox2 {
    color: white;
    margin: 0;
    float: right;
    max-width: 60vw;
    margin-top: -7.2em;
    margin-right: 26px;
  }

  .tech-folks {
    max-width: 30vw;
    background-image: url("../img/tech-folks.jpg");
    background-size: cover;
    background-position: center;
    min-height: 8em;
    height: auto;
  }

  .advertising-chunk {
    height: auto;
    min-height: 6em;
    background-color: #009688;
  }

  .holidayBox {
    width: 92vw;
    height: 120px;
    background-color: #263238;
    float: right;
    position: absolute;
    margin-top: -136px;
    margin-left: 4vw;
    color: white;
    padding: 18px;
    padding-top: 15px;
  }

}
